.font-ExtraBold {
  font-family: "Inter-ExtraBold";
}
.font-Bold {
  font-family: "Inter-Bold";
}
.font-Regular {
  font-family: "Inter-Regular";
}
.font-Medium {
  font-family: "Inter-Medium";
}
/* .font-PoppinsBold {
  font-family: "Poppins-Bold";
}
.font-PoppinsExtraBold {
  font-family: "Poppins-ExtraBold";
} */
